---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection('posts');
const title = 'Blog';
---

<BaseLayout title={title}>
		<h1>{title}</h1>

        <ul>
            {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />)}
        </ul>
</BaseLayout>
